.wcpix-container{
    text-align: center;
    margin: 20px 0;
}
.wcpix-container .wcpix-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
    border: 2px solid #46b450;
    display: none;
}
.wcpix-container .wcpix-img-copy-code {
    margin-bottom: 20px;
}
